<div class="main-menu">
<ul>
  <li><%= menu_link_to 'Ben', ben_path, request.path %></li>
  <li><%= menu_link_to 'Blog', articles_path, request.path %></li>
  <li><%= menu_link_to 'For Hire', hire_path, request.path %></li>
</ul>
</div>
