<%= render :partial => 'articles/title' %>
<%= render :partial => 'articles/menu' %>
<div class="content">
<div id="page-pic" >
<img src="/images/books.png" />
</div>
<p>I'm Ben and this website is, primarily, my blog.</p>
<p>I'd like to think there are a lot of things that I do in life, but one of them in particular is programming and this blog is all about just that.</p>
<p>A blog about programming is nothing new, there are thousands (probably millions) out there that do this very thing. They'll come across some problem, solve it, then write a small article all about the issue and how they approached it. I'm eternally grateful for all those other blogs out there since they've helped me save time and frustration when solving similarly perplexing issues. Having used them for so long though, I'd like to give something back and hopefully this blog will do that. I wont lie though, I'm trying to find <%= link_to 'work', hire_path %> and a web developer without a website seemed rather paradoxical (or at least, not very helpful). <p>
<p>So, it's not a unique website and I'm shamelessly using it as a tool to get work - but hopefully someone fill find an article that is helpful to them.</p>
</div>
