<%= render :partial => 'articles/title' %>
<%= render :partial => 'articles/menu' %>
<div class="content" id="for-hire">
<p>I'm for hire.</p>
<p>Perhaps you like what I write, maybe you've seen some of my work and love it or you just wanted to see what was on this page. Either way, since 2006 I've been working freelance. This page has a small portfolio of work and if you would like to see a CV please contact me at ben.griffiths10[at]gmail.com.</p>
  <div class="websites">
    <h4>Website Portfolio</h4>
    <div id="thumbnails">
      <div class="website">
      <img src="/images/portfolio/greencuisinetrust-thumb.png" /><br />
      <%= link_to 'Greencuisine Trust', 'http://www.greencuisinetrust.org' %>
      </div>
    </div>
    <div id="thumbnails">
      <div class="website">
      <img src="/images/portfolio/shop-thumb.png" /><br />
      <%= link_to 'Greencuisine Shop', 'http://shop.penrhos.com' %>
      </div>
    </div>
  </div>
</div>
