<%= render :partial => 'articles/title' %>
<%= render :partial => 'articles/menu' %>
<div class="content" id="for-hire">
<p>This is a small selection of website that I have worked on.</p>
  <div class="websites">
    <h4>Website Portfolio</h4>
    <div id="thumbnails">
      <div class="website">
      <img src="/images/portfolio/greencuisinetrust-thumb.png" /><br />
      <%= link_to 'Greencuisine Trust', 'http://www.greencuisinetrust.org' %>
      </div>
    </div>
    <div id="thumbnails">
      <div class="website">
      <img src="/images/portfolio/shop-thumb.png" /><br />
      <%= link_to 'Greencuisine Shop', 'http://shop.penrhos.com' %>
      </div>
    </div>
  </div>
</div>
